<div class="app-page-container-bottomsheet">
	<div class="app-page-bottomsheet-header py-3">
		<h1 tabindex="0">{{new ? 'Nova' : 'Editar'}} Solicitação {{new ? '' : 'Pendente de Envio'}}</h1>
	</div>
	<nav aria-labelledby="accessibility-menu">
		<ul class="accessibility-header">
			<li>
				<a
					(click)="skipToForm()"
					(keyup.enter)="skipToForm()"
					(keydown.enter)="skipToForm()"
					tabindex="0"
					aria-label="Pular para formulário da solicitação"
					>Pular para formulário da solicitação</a
				>
			</li>
			<li>
				<a
					(click)="skipToHour()"
					(keyup.enter)="skipToHour()"
					(keydown.enter)="skipToHour()"
					tabindex="0"
					aria-label="Pular para resumo das suas horas"
					>Pular para resumo das suas horas</a
				>
			</li>
		</ul>
	</nav>
	<ng-template [ngIf]="!loading && !actionComplete && !error">
		<div class="row">
			<div id="form" tabindex="0" #form class="solicitacaoForm col-7" aria-label="Formulário para criação de solicitação">
				<form [formGroup]="formControl" style="font-size: 16px">
					<div class="app-page-bottomsheet-content">
						<mat-form-field class="app-page-form-full" appearance="outline">
							<mat-label>Título da Solicitação</mat-label>
							<input matInput required="true" type="text" formControlName="titulo" />
						</mat-form-field>
					</div>
					<mat-form-field class="app-page-form-full" appearance="outline">
						<mat-label>Categoria da Atividade</mat-label>
						<input type="text" [disabled]="!new" matInput formControlName="atividadeBarema" [matAutocomplete]="auto" />
						<input type="text" class="d-none" matInput formControlName="idAtividadeBarema" />
						<mat-autocomplete
							#auto="matAutocomplete"
							(optionSelected)="autoCompleteSelect($event.option); totalLocalCalc($event.option.value.idAtividadeBarema)"
						>
							<mat-option *ngFor="let select of filteredOptions | async" [value]="select" [matTooltip]="select.descricao"
								>{{ select.descricao }}</mat-option
							>
						</mat-autocomplete>
					</mat-form-field>
					<div class="app-page-bottomsheet-content">
						<span tabindex="0" *ngIf="!(formControl.value.idAtividadeBarema === '' || stopFlag || stopFlagExceed)" style="color: rgb(52 188 147)"
							>Você ainda possui até {{horasRestantes()}} horas restantes para aproveitar na atividade selecionada.</span
						>
						<ng-template [ngIf]="stopFlag || stopFlagExceed">
							<div class="d-flex flex-column" style="margin-bottom: 1rem">
								<span tabindex="0" class="warnColor w-100">Você não possui horas restantes para aproveitar na atividade selecionada.</span>
								<div class="w-100">
									<span tabindex="0" class="warnColor" style="margin-right: 1rem"
										>Deseja seguir com a solicitação apenas para contar no histórico?</span
									>
									<mat-checkbox
										tabindex="0"
										formControlName="coringaFlag"
										[ngStyle]="{'filter': appStateService.state.isDark ? 'invert(1)' : 'invert(0)'}"
									>
									</mat-checkbox>
								</div>
							</div>
						</ng-template>

						<mat-form-field
							class="app-page-form-full"
							appearance="outline"
							[ngClass]="formControl.value.idAtividadeBarema === '' || (stopFlag && !formControl.value.coringaFlag)? 'field-blocked' : ''"
						>
							<mat-label>Carga Horária</mat-label>
							<input
								matInput
								[min]="0"
								[max]="horasRestantes()"
								[readonly]="formControl.value.idAtividadeBarema === '' || (stopFlag && !formControl.value.coringaFlag)"
								(change)="changeCh()"
								required="true"
								type="number"
								formControlName="horas"
							/>
							<mat-error>
								<span tabindex="0" class="warnColor w-100"
									>Para cargas horárias acima do limite restante de {{horasRestantes()}} horas, coloque {{horasRestantes()}} horas.</span
								>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="app-page-bottomsheet-content d-flex flex-column px-2 mb-3">
						<mat-label tabindex="0" style="font-size: 20px" class="nunito mb-3">Upload de Certificado</mat-label>

						<div
							class="mb-3"
							[ngClass]="formControl.value.idAtividadeBarema === '' || (stopFlag && !formControl.value.coringaFlag)? 'field-blocked' : ''"
						>
							<label tabindex="0" for="file" class="btn-primary-download dark-switch">Escolher Arquivo</label>
							<input tabindex="0" id="file" required="true" type="file" (change)="inputFileChanged($event)" style="display: none" />
						</div>
						<button (click)="downloadActual()" tabindex="0" class="icon" mat-icon-button *ngIf="actualFile" matTooltip="Baixar certificado enviado">
							<mat-icon>cloud_download</mat-icon>
							<span>{{actualFile.name}}</span>
						</button>
					</div>
				</form>
			</div>

			<div
				id="hour"
				tabindex="0"
				#hour
				class="col-4 solicitacaoHoras mx-auto d-flex flex-column justify-content-between"
				aria-label="Resumo das horas totais"
			>
				<div>
					<h2 style="font-weight: 500; text-align: center" tabindex="0">Suas Horas Totais</h2>
					<div>
						<div class="sphere-progress-container mx-auto">
							<span class="nunito d-flex justify-content-center align-items-center" tabindex="0"
								>Total
								<mat-icon
									class="opacity-75"
									style="font-size: 1rem"
									matTooltip="A barra azul representa horas já aproveitadas, enquanto a barra verde representa horas em análise ou em rascunhos pendentes de envio."
									>help</mat-icon
								></span
							>
							{{totalHorasCalc()}}
							<div
								style="zoom: 0.8"
								class="sphere-progress"
								[ngStyle]="{'background': conicGradientFactory('rgb(52, 188, 147)', appStateService.state.isDark ? 'rgb(211, 220, 233, 0.3)' : 'rgb(211, 220, 233)', (addHoras-subHorasRascunho)+(totalHoras + totalHorasRascunho), appStateService.state?.userData?.curso.minimoHorasCurso)}"
							>
								<div
									class="sphere-progress"
									[ngStyle]="{'background': conicGradientFactory(appStateService.state.isDark ? 'rgb(147, 168, 204)' : 'rgb(43, 70, 139)', 'transparent', totalHoras, appStateService.state?.userData?.curso.minimoHorasCurso)}"
								>
									<div class="sphere-progress-center translate-middle">
										<span
											tabindex="0"
											style="font-size: 24px"
											class="mb-2"
											[ngStyle]="{'color': addHorasFlag ? 'rgb(52, 188, 147)' : appStateService.state.isDark ? 'rgb(147, 168, 204)' : 'rgb(43, 70, 139)'}"
											>{{(100*((totalHoras +
											totalHorasRascunho)+(addHoras-subHorasRascunho))/appStateService.state?.userData?.curso.minimoHorasCurso).toPrecision(3)}}%</span
										>
										<span
											tabindex="0"
											class="nunito"
											style="font-size: 16px"
											[ngStyle]="{'color': addHorasFlag ? 'rgb(52, 188, 147)' : appStateService.state.isDark ? 'rgb(147, 168, 204)' : 'rgb(43, 70, 139)'}"
											>{{(totalHoras + totalHorasRascunho)+(addHoras-subHorasRascunho)}}h /
											{{appStateService.state?.userData?.curso.minimoHorasCurso}}h</span
										>
									</div>
								</div>
							</div>
						</div>
						<div *ngFor="let data of totalLocal" class="pb-5 py-3" style="zoom: 0.9">
							<app-barra-progresso [dataSource]="data.perfilAtividadeList" [adicional]="(addHoras-subHorasRascunho)"></app-barra-progresso>
						</div>
					</div>
				</div>

				<div class="app-page-bottomsheet-actions">
					<button class="btn btn-primary-small" [disabled]="!formControl.valid || !fileData" color="primary" (click)="save()">
						{{new ? 'Criar' : 'Editar'}}
					</button>
					<button class="btn btn-danger-small" (click)="onCancel($event)">Cancelar</button>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template [ngIf]="loading">
		<div style="padding: 3rem 0px; text-align: center">
			<mat-spinner style="margin: 0px auto"></mat-spinner>
		</div>
	</ng-template>

	<ng-template [ngIf]="!loading && actionComplete">
		<p tabindex="0">
			Rascunho:
			<strong> {{formControl.value.titulo? formControl.value.titulo : ''}}</strong>
			{{new ? 'criado' : 'editada'}} com sucesso
		</p>
		<div class="app-page-bottomsheet-actions">
			<button class="btn btn-primary-small" (click)="onCancel($event)">Ok</button>
		</div>
	</ng-template>

	<ng-template [ngIf]="!loading && error">
		<p tabindex="0">
			Solicitação <strong>{{formControl.value.description}}</strong> não foi adicionada <br />
			<small>{{ error.message }}</small>
		</p>
		<div class="app-page-bottomsheet-actions">
			<button class="btn btn-primary-small" (click)="onCancel($event)">Ok</button>
		</div>
	</ng-template>
</div>
