<div style="margin-top: -10px; zoom: 0.9; border-bottom: 1px solid #ccc" class="d-flex">
	<h1 tabindex="0" class="col-11">Tire aqui suas dúvidas!</h1>
	<mat-icon class="col" tabindex="0" class="cursor-pointer" (click)="close()" (keyup.enter)="close()">close</mat-icon>
</div>
<section class="d-flex flex-column">
	<div>
		<div>
			<div style="padding: 1rem">
				<mat-accordion>
					<mat-expansion-panel hideToggle>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<h4><strong>O que é carga horária complementar?</strong></h4>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<p tabindex="0">Seu curso possui 3 modalidades diferentes de carga horária.</p>
						<ul>
							<li tabindex="0">
								<strong>Carga horária complementar:</strong> recebe a partir do aproveitamento de atividades complementares (mais detalhes na aba
								abaixo);
							</li>
							<li tabindex="0"><strong>Carga horária obrigatória:</strong> recebe a partir da aprovação em disciplinas obrigatórias da sua grade;</li>
							<li tabindex="0">
								<strong>Carga horária optativa:</strong> recebe a partir da aprovação em disciplinas optativas, atividades de pesquisa e iniciação
								científica e atividades de extensão;
							</li>
						</ul>
						<p tabindex="0">
							<strong>Algumas atividades (atividades de pesquisa e iniciação científica e atividades de extensão)</strong> podem ser aproveitadas como
							carga horária optativa ou como carga horária complementar, mas <strong>não simultaneamente</strong>. Ou você aproveita como optativa, ou
							como complementar 😉
						</p>
					</mat-expansion-panel>
					<mat-expansion-panel hideToggle>
						<mat-expansion-panel-header>
							<mat-panel-title>
								<h4><strong>O que são atividades complementares?</strong></h4>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<p tabindex="0">
							Atividades complementares estão divididas em diversos grupos, com cada grupo possuindo um máximo de horas a serem aproveitadas. Cada
							atividade também possui uma regra de limite de horas associada.
						</p>
						<p tabindex="0">
							Após a conclusão de alguma atividade complementar, você pode aproveitar as suas horas através de uma
							<strong>solicitação de aproveitamento de atividade complementar</strong>, sendo necessário um
							<strong>certificado/comprovação</strong> de cumprimento desta carga horária.
						</p>
						<p tabindex="0">
							Para uma descrição mais detalhada sobre os <strong>grupos, formas de comprovação e máximos de horas</strong> verifique o
							<strong>barema das atividades complementares</strong> do seu curso (é uma tabelona, fica abaixo das primeiras páginas da resolução),
							<span
								tabindex="0"
								class="highlight cursor-pointer"
								style="text-decoration: underline"
								(click)="baixarBarema()"
								(keyup.enter)="baixarBarema()"
								>clique aqui para visualizar o barema</span
							>.
						</p>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</div>
</section>
