<form [formGroup]="registerForm" class="my-5">
	<div class="d-flex flex-column align-items-center" style="font-size: 16px">
		<h1>Cadastrar</h1>
		<mat-form-field style="width: 400px" appearance="outline">
			<mat-label>E-mail</mat-label>
			<input required="true" type="text" matInput formControlName="email" />
		</mat-form-field>
		<mat-form-field style="width: 400px" appearance="outline">
			<mat-label>Matrícula</mat-label>
			<input required="true" type="text" matInput formControlName="matricula" />
		</mat-form-field>
		<mat-form-field style="width: 400px" appearance="outline">
			<mat-label>Nome</mat-label>
			<input required="true" type="text" matInput formControlName="nome" />
		</mat-form-field>
		<mat-form-field style="width: 400px" appearance="outline">
			<mat-label>Curso</mat-label>
			<mat-select required="true" formControlName="idCurso">
				<mat-option *ngFor="let item of cursoList" value="{{ item.idCurso }}" [title]="item.descricao">
					{{ item.descricao }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field style="width: 400px" appearance="outline">
			<mat-label>Senha</mat-label>
			<input required="true" type="password" matInput formControlName="senha" />
		</mat-form-field>
		<mat-form-field style="width: 400px" appearance="outline">
			<mat-label>Confirmar Senha</mat-label>
			<input required="true" type="password" matInput formControlName="confirmarSenha" />
		</mat-form-field>
		<span
			*ngIf="registerForm.value.senha && registerForm.value.confirmarSenha && registerForm.value.confirmarSenha !== registerForm.value.senha"
			class="danger pb-3"
			>As senhas digitadas não correspondem!</span
		>

		<div class="d-flex gap-3 align-items-center" style="zoom: 0.9">
			<button
				class="btn btn-primary"
				[disabled]="registerForm.invalid || registerForm.value.confirmarSenha !== registerForm.value.senha"
				(click)="registrar()"
			>
				Cadastrar
			</button>
			<button class="btn btn-danger" (click)="cancel()">Cancelar</button>
		</div>
	</div>
</form>
