<!-- src\app\shared\components\sidenav\sidenav.component.html -->

<div [class.dark-theme]="isDark">
    <!-- ? we're wrapping whole content in a div, to handle dark/light theme -->
    <mat-toolbar>
        <span>Toolbar</span>
        <span class="example-spacer"></span>

        <!-- ? below button will help us change the theme at run-time. -->
        <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle dark theme">
        <mat-icon>
          brightness_6
        </mat-icon>
      </button>

    </mat-toolbar>
</div>