<div [class.dark-theme]="execute('actual_theme')">
    <mat-toolbar class="menu-grid">
        <img src="../../../../assets/images/siachlogo.png" alt="Logo SIACH">
        <div>
            <div class="itens-menu">
                <app-menu-list-item *ngFor="let item of appStateService.state.menu" [item]="item"></app-menu-list-item>
            </div>
        </div>

        <button mat-icon-button (click)="execute('toggle_dark_theme')" matTooltip="Toggle dark theme">
        <mat-icon>
          brightness_6
        </mat-icon>
      </button>

    </mat-toolbar>
</div>