<section class="d-flex flex-column">
    <div>
        <div>
            <div style="padding: 1rem;">
                <div class="px-2">
                    <div class="d-flex justify-content-between w-75 mb-3">
                        <h2 class="nm">Remover Atividade do Barema</h2>
                    </div>
                    <span>Tem certeza que deseja remover a atividade <span class="highlight">{{dataSource.descricao}}</span>?</span>
                    <div>
                        <button class="btn btn-danger-small" (click)="remover()">
                            Remover
                        </button>
                    </div>
                </div>


            </div>
        </div>

    </div>

</section>