<section class="d-flex flex-column align-items-center mt-5">
	<span style="width: 60%"
		>Bem vindo, {{ getUserName() }}! Este é o <span class="mat-title highlight">Sistema de Aproveitamento de Carga Horária Complementar.</span></span
	>
	<img class="w-50" src="../../../../assets/images/homepage.png" alt="Imagem de boas vindas" />
	<span style="width: 60%"
		>Aqui vamos te ajudar a encurtar e simplificar a abertura do processo que te deixa mais próximo da sua tão sonhada formatura.</span
	>
</section>
