<section class="d-flex flex-column align-items-center mat-headline mt-5">
    <span style="width: 60%;">Bem vindo, Enzo! Este é o <span style="color: #2B468B" class="mat-title">Sistema de Aproveitamento de Carga Horária Complementar.</span></span>
    <img [class.dark-theme]="execute('actual_theme')" class="w-50" src="../../../../assets/images/homepage.png" alt="Imagem com estudantes">
    <span style="width: 60%;">Aqui vamos te ajudar a encurtar e simplificar a abertura do processo que te deixa mais próximo da sua tão sonhada formatura.</span>
</section>