.progresso-barra {
	display: grid;
	grid-template-columns: 97% 3%;
	gap: 0.3rem;
	align-items: center;
}

::ng-deep .mat-progress-bar-fill::after {
	z-index: 100;
}

.adicional ::ng-deep .mat-progress-bar-fill::after {
	background-color: #37a095;
	z-index: 99;
}

::ng-deep .mat-progress-bar-fill {
	z-index: 100;
}

.adicional ::ng-deep .mat-progress-bar-fill {
	z-index: 99;
}
