<ng-template [ngIf]="dataSource">
	<div *ngFor="let atividade of dataSource | keyvalue" class="mt-3">
		<ng-template [ngIf]="dataSourceSecondary">
			<div aria-labelledby="buscar-label" (click)="openGrupo(dataSourceSecondary)" (keyup.enter)="openGrupo(dataSourceSecondary)">
				<span
					tabindex="0"
					id="buscar-label"
					(keyup.enter)="openGrupo(dataSourceSecondary)"
					(click)="openGrupo(dataSourceSecondary)"
					class="accessibility-header"
					>Verificar atividades do grupo: {{ $any(atividade.value).descricao }}</span
				>
				<span class="nunito d-flex gap-2"
					>{{ $any(atividade.value).descricao }}

					<mat-icon *ngIf="dataSourceSecondary" class="cursor-pointer">search</mat-icon></span
				>
			</div>
		</ng-template>
		<ng-template [ngIf]="!dataSourceSecondary">
			<div aria-labelledby="buscar-label">
				<span class="nunito d-flex gap-2" tabindex="0"
					>{{ $any(atividade.value).descricao }}

					<mat-icon *ngIf="dataSourceSecondary" class="cursor-pointer">search</mat-icon></span
				>
			</div>
		</ng-template>

		<div class="progresso-barra mt-3">
			<div class="position-relative">
				<div class="position-absolute w-100">
					<mat-progress-bar aria-label="Barra de progresso" mode="determinate" [value]="calcValueContabilizado(atividade)"> </mat-progress-bar>
					<div
						*ngIf="adicional === 0"
						style="top: 200%"
						class="position-absolute nunito"
						aria-labelledby="blue-label"
						tabindex="0"
						[ngStyle]="{
							left: calcValueContabilizado(atividade) + '%'
						}"
					>
						<span id="blue-label" class="accessibility-header">Horas já aproveitadas: </span>
						{{ calcValueContabilizado(atividade).toPrecision(3) }}%
					</div>
				</div>

				<div class="position-absolute w-100" *ngIf="$any(atividade.value).horasContabilizadasRascunho > 0 || adicional > 0">
					<mat-progress-bar class="adicional" aria-label="Barra de progresso" mode="determinate" [value]="calcValueContabilizadoRascunho(atividade)">
					</mat-progress-bar>
					<div
						style="color: #37a095 !important; top: -300%"
						tabindex="0"
						aria-labelledby="green-label"
						class="position-absolute nunito"
						[ngStyle]="{
							left: calcValueContabilizadoRascunho(atividade) + '%'
						}"
					>
						<span id="green-label" class="accessibility-header">Horas atuais pendente de análise: </span>
						{{ calcValueContabilizadoRascunho(atividade).toPrecision(3) }}%
					</div>
				</div>
			</div>
			<div class="nunito" tabindex="0" aria-label="Horas limites">
				<span id="green-label" class="accessibility-header">Limite de horas: </span>
				{{ $any(atividade.value).horasLimite }}h
			</div>
		</div>
	</div>
</ng-template>
