<div [class.dark-theme]="execute('actual_theme')">
	<nav>
		<ul #firstFocus aria-label="Menu de acessibilidade" class="accessibility-header">
			<li>
				<a
					[href]="getUrl('#mainContent')"
					(click)="skipToContent()"
					(keydown.enter)="skipToContent()"
					tabindex="1"
					aria-label="Pular para conteúdo principal da página"
					>Pular para conteúdo principal da página</a
				>
			</li>
			<li *ngIf="isLogged()">
				<a
					[href]="getUrl('#navigation')"
					(click)="skipToNavigation()"
					(keydown.enter)="skipToNavigation()"
					tabindex="2"
					aria-label="Pular para menu principal do site"
					>Pular para menu principal do site</a
				>
			</li>
		</ul>
	</nav>
	<div tabindex="0" id="navigation" #navigation>
		<app-toolbar [ngClass]="isLogged() ? '' : 'hide'"></app-toolbar>
	</div>

	<section class="main-container">
		<div tabindex="0" id="mainContent" class="app-container" #mainContent>
			<router-outlet></router-outlet>
			<!--<app-vlibras></app-vlibras>-->
		</div>
	</section>
</div>
