<section class="d-flex flex-column mt-5">
	<div>
		<div>
			<div>
				<h1 tabindex="0">Seu Perfil</h1>
			</div>
			<div class="d-grid p-5" style="grid-template-columns: 30% 70%" *ngIf="userData">
				<div class="m-auto">
					<div class="d-flex justify-content-center">
						<img tabindex="0" style="width: 150px" src="../../../../assets/images/enzo.png" alt="Avatar de Perfil" />
					</div>

					<h2 tabindex="0" class="nunito text-center mt-3 perfil-nome">
						{{ userData.nome }}
					</h2>
				</div>
				<div class="row userCard m-3" tabindex="0">
					<div class="col d-flex flex-column nunito justify-content-around">
						<div class="row">
							<span class="col-4 strong">Nome:</span>
							<span class="col-6">{{ userData.nome }}</span>
						</div>
						<div class="row">
							<span class="col-4 strong">Curso:</span>
							<span class="col-6">{{ userData.curso.descricao }}</span>
						</div>
					</div>
					<div class="col d-flex flex-column gap-3 nunito justify-content-around">
						<div class="row">
							<span class="col-4 strong">Matrícula:</span>
							<span class="col-6">{{ userData.matricula }}</span>
						</div>
						<div class="row">
							<span class="col-4 strong">E-mail:</span>
							<span class="col-6">{{ userData.email }}</span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<h1 tabindex="0">Suas Horas</h1>
				<div class="d-flex w-100">
					<div class="sphere-progress-container mr-5">
						<span tabindex="0" class="nunito d-flex justify-content-center align-items-center"
							>Total
							<mat-icon
								class="opacity-75"
								style="font-size: 1rem"
								matTooltip="A barra azul representa horas já aproveitadas, enquanto a barra verde representa horas em análise ou em aproveitamentos pendentes de envio."
								>help</mat-icon
							></span
						>
						<div
							class="sphere-progress"
							[ngStyle]="{
								background: conicGradientFactory(
									'rgb(52, 188, 147)',
									appStateService.state.isDark ? 'rgb(211, 220, 233, 0.3)' : 'rgb(211, 220, 233)',
									totalHoras + totalHorasRascunho,
									appStateService.state?.userData?.curso.minimoHorasCurso
								)
							}"
						>
							<div
								class="sphere-progress"
								[ngStyle]="{
									background: conicGradientFactory(
										appStateService.state.isDark ? 'rgb(147, 168, 204)' : 'rgb(43, 70, 139)',
										'transparent',
										totalHoras,
										appStateService.state?.userData?.curso.minimoHorasCurso
									)
								}"
							>
								<div class="sphere-progress-center translate-middle">
									<div class="d-flex">
										<span tabindex="0" id="blue-label" class="accessibility-header">Percentual de horas já aproveitadas: </span>
										<span
											tabindex="0"
											style="font-size: 20px"
											class="mb-2"
											[ngStyle]="{
												color: appStateService.state.isDark ? 'rgb(147, 168, 204)' : 'rgb(43, 70, 139)'
											}"
											>{{ ((100 * totalHoras) / appStateService.state?.userData?.curso.minimoHorasCurso).toPrecision(3) }}%</span
										>
										<ng-template [ngIf]="totalHorasRascunho > 0">
											<span class="mx-2" style="font-size: 20px">-></span>
											<span tabindex="0" id="blue-label" class="accessibility-header">Percentual de horas atuais pendente de análise: </span>
											<span tabindex="0" style="font-size: 20px; color: rgb(52, 188, 147)" class="mb-2">
												{{
													((100 * (totalHoras + totalHorasRascunho)) / appStateService.state?.userData?.curso.minimoHorasCurso).toPrecision(3)
												}}%</span
											>
										</ng-template>
									</div>
									<div class="d-flex">
										<div>
											<span tabindex="0" id="blue-label" class="accessibility-header">Horas já aproveitadas: </span>
											<span
												tabindex="0"
												class="nunito"
												style="font-size: 16px"
												[ngStyle]="{
													color: appStateService.state.isDark ? 'rgb(147, 168, 204)' : 'rgb(43, 70, 139)'
												}"
												>{{ totalHoras }}h</span
											>
										</div>

										<ng-template [ngIf]="totalHorasRascunho > 0">
											<div>
												<span class="nunito" style="font-size: 16px">-></span>
											</div>
											<div>
												<span tabindex="0" id="blue-label" class="accessibility-header">Horas atuais pendente de análise: </span>
												<span tabindex="0" class="nunito" style="font-size: 16px; color: rgb(52, 188, 147)"
													>{{ totalHoras + totalHorasRascunho }}h</span
												>
											</div>
										</ng-template>
										<div>
											<span tabindex="0" id="blue-label" class="accessibility-header">Horas máximas do curso: </span>
											<span tabindex="0" class="nunito" style="font-size: 16px">
												/ {{ appStateService.state?.userData?.curso.minimoHorasCurso }}h</span
											>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="d-grid justify-content-between w-100" style="grid-template-columns: 45% 45%">
						<div *ngFor="let data of dataSource" class="py-3">
							<app-barra-progresso [dataSource]="data.perfilGrupo" [dataSourceSecondary]="data.perfilAtividadeList"></app-barra-progresso>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
