<section class="d-flex flex-column mt-5">
    <div>
        <div>
            <div>
                <h1>Seu Perfil</h1>
            </div>
            <div class="d-grid p-5" style="grid-template-columns: 30% 70%;" *ngIf="userData">
                <div class="m-auto">
                    <div>
                        <img style="width: 150px;" src="../../../../assets/images/enzo.jpg" alt="Avatar de Perfil">
                    </div>

                    <h2 class="nunito text-center mt-3 perfil-nome" style="">{{userData.nome}}</h2>
                </div>
                <div class="row userCard m-3">
                    <div class="col d-flex flex-column nunito justify-content-around">
                        <div class="row">
                            <span class="col-4 strong">Nome:</span>
                            <span class="col-6">{{userData.nome}}</span>
                        </div>
                        <div class="row">
                            <span class="col-4 strong">Curso:</span>
                            <span class="col-6">{{userData.curso.descricao}}</span>
                        </div>
                    </div>
                    <div class="col d-flex flex-column gap-3 nunito justify-content-around">
                        <div class="row">
                            <span class="col-4 strong">Matrícula:</span>
                            <span class="col-6">{{userData.matricula}}</span>
                        </div>
                        <div class="row">
                            <span class="col-4 strong">E-mail:</span>
                            <span class="col-6">{{userData.email}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h1>Suas Horas</h1>
                <div class="d-grid" style="grid-template-columns: 23% 77%;">
                    <div class="sphere-progress-container">
                        <span class="nunito">Total</span>
                        <div class="sphere-progress" [ngStyle]="{'background': 'conic-gradient(#2B468B calc(('+(100*totalHoras/appStateService.state?.userData?.curso.minimoHorasCurso)+')*1%), #D3DCE9 0)'}">
                            <div class="sphere-progress-center translate-middle">
                                <span style="font-size: 24px;" class="mb-2">{{(100*totalHoras/appStateService.state?.userData?.curso.minimoHorasCurso).toPrecision(3)}}%</span>
                                <span class="nunito" style="font-size: 16px;">{{totalHoras}}h  /  {{appStateService.state?.userData?.curso.minimoHorasCurso}}h</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div *ngFor="let data of dataSource" class="py-3 w-47">
                            <app-barra-progresso [dataSource]="data.perfilGrupo"></app-barra-progresso>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>