<section class="d-flex flex-column mt-5">
	<div>
		<div>
			<div>
				<h1 tabindex="0">Encontrar Atividades</h1>
				<span tabindex="0"><span class="highlight">Quer um certificado?</span> Encontre abaixo atividades que geram horas complementares.</span>
			</div>
			<ng-template [ngIf]="this.appStateService.getAuthority() === '1'">
				<div class="align-items-end d-flex flex-column gap-3">
					<button class="btn btn-new" style="width: 230px !important" (click)="novaDivulgacaoAtividade()">
						<mat-icon>add_circle</mat-icon><span>Divulgar Atividade</span>
					</button>
				</div>
			</ng-template>
		</div>
		<div class="row mt-5 mx-0 align-items-center">
			<div class="np d-flex align-items-center" style="width: 90%; gap: 1rem">
				<ng-template [ngIf]="showFilter">
					<div>
						<mat-form-field class="np" appearance="outline" style="font-size: 15px; width: 500px">
							<mat-label>Atividade</mat-label>
							<div class="position-relative">
								<input
									type="text"
									placeholder="Buscar Atividade.."
									matInput
									[value]="filtro.atividadeBarema"
									[formControl]="formControl"
									[matAutocomplete]="auto"
									style="max-width: 90%; overflow: hidden; text-overflow: ellipsis"
								/>
								<input type="text" class="d-none" matInput [(ngModel)]="filtro.atividadeBaremaId" />
								<mat-autocomplete #auto="matAutocomplete" (optionSelected)="autoCompleteSelect($event.option); freshFilter()">
									<mat-option *ngFor="let select of filteredOptions | async" [value]="select" [matTooltip]="select.descricao">{{
										select.descricao
									}}</mat-option>
								</mat-autocomplete>
								<ng-template [ngIf]="filtro.atividadeBaremaId !== undefined">
									<div class="clear-filter">
										<button mat-icon-button (click)="filtro.atividadeBaremaId = undefined; filtro.atividadeBarema = ''; freshFilter()">
											<mat-icon [matTooltip]="'Limpar filtro'" style="color: #a8261a !important">filter_alt_off</mat-icon>
										</button>
									</div>
								</ng-template>
							</div>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="np" appearance="outline" style="font-size: 15px; width: 300px">
							<mat-label>Grupo da Atividade</mat-label>
							<div class="position-relative">
								<mat-select [(ngModel)]="filtro.grupoBaremaId" (selectionChange)="freshFilter()">
									<mat-option *ngFor="let item of grupoBaremaList" [matTooltip]="item.descricao" value="{{ item.idGrupoBarema }}">
										{{ item.numero }} - {{ item.descricao }}
									</mat-option>
								</mat-select>
								<ng-template [ngIf]="filtro.grupoBaremaId !== undefined">
									<div class="clear-filter-select">
										<button mat-icon-button (click)="filtro.grupoBaremaId = undefined; freshFilter()">
											<mat-icon [matTooltip]="'Limpar filtro'" style="color: #a8261a !important">filter_alt_off</mat-icon>
										</button>
									</div>
								</ng-template>
							</div>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="np" appearance="outline" style="font-size: 15px; width: 200px">
							<mat-label>Carga Horária Mínima</mat-label>
							<input matInput min="1" type="number" (input)="freshFilterDelay()" [(ngModel)]="filtro.cargaHoraria" />
						</mat-form-field>
					</div>
				</ng-template>
			</div>
		</div>

		<ng-template [ngIf]="loading">
			<div class="app-page-messages" style="padding-top: 15vh !important">
				<mat-spinner class="normal-stroke"></mat-spinner>
			</div>
		</ng-template>

		<ng-template [ngIf]="dataSource">
			<div
				tabindex="0"
				class="card-container my-4"
				style="cursor: pointer"
				(click)="openDetails(atividade)"
				(keyup.enter)="openDetails(atividade)"
				*ngFor="let atividade of dataSource.itens"
			>
				<div class="d-flex">
					<div style="padding: 1rem; width: 60%">
						<span class="mat-small highlight"
							>Data: {{ atividade.periodoInicio | date : 'dd/MM/yyyy' }} - {{ atividade.periodoFim | date : 'dd/MM/yyyy' }}</span
						>
						<div style="padding: 1rem">
							<div class="p-2">
								<div class="row mb-2">
									<div class="col-8">
										<h2 class="nm" tabindex="0">{{ atividade.titulo }}</h2>
									</div>
									<div class="col">
										<div class="chip primary" tabindex="0">{{ atividade.horas }} horas</div>
									</div>
								</div>

								<span style="font-size: 24px" tabindex="0">Grupo da Atividade: {{ atividade.grupoBarema?.descricao }}</span>
							</div>

							<mat-divider style="border-top-color: #000"></mat-divider>
							<div class="mt-3 d-flex gap-4" tabindex="0">
								<span style="font-size: 22px">Atividade:</span>
								<span style="font-size: 18px">
									{{ atividade.atividadeBarema?.descricao }}
								</span>
							</div>
						</div>
					</div>
					<div
						aria-label="Banner da Atividade"
						class="card-img"
						style="width: 60%"
						[ngStyle]="{ 'background-image': 'url(' + atividade.imagem + ')' }"
					></div>
				</div>
			</div>
			<div class="align-items-center d-flex gap-3 justify-content-center mt-3">
				<button [disabled]="loading" class="btn btn-load position-relative" style="width: 230px !important" (click)="loadMore()">
					<span> Carregar Mais </span>
					<ng-template [ngIf]="loading">
						<div class="spinner-inside">
							<div class="opacity-50">
								<mat-spinner [diameter]="30"></mat-spinner>
							</div>
						</div>
					</ng-template>
				</button>
			</div>
		</ng-template>
	</div>
</section>
