<section class="d-flex flex-column mt-5">
	<div>
		<div>
			<div>
				<h1>Atividades Complementares</h1>
				<span
					><span class="highlight">Precisa de um certificado?</span> Nesta página você poderá encontrar oportunidades que geram horas
					complementares.</span
				>
			</div>
			<div class="align-items-end d-flex flex-column gap-3">
				<button class="btn btn-new" style="width: 230px !important" (click)="novaDivulgacaoAtividade()">
					<mat-icon>add_circle</mat-icon>Divulgar Atividade
				</button>
			</div>
		</div>
		<div>
			<div class="mr-3"> 
				<mat-form-field appearance="outline" style="font-size: 16px; width: 500px">
					<mat-label>Atividade</mat-label>
					<mat-select [(ngModel)]="filtro.atividadeBaremaId" (selectionChange)="freshFilter()">
						<mat-option *ngFor="let item of atividadeBaremaList" value="{{ item.id }}" [title]="item.descricao" [matTooltip]="item.descricao">
							{{ item.descricao }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field appearance="outline" style="font-size: 16px; width: 500px">
					<mat-label>Grupo</mat-label>
					<mat-select [(ngModel)]="filtro.grupoBaremaId" (selectionChange)="freshFilter()">
						<mat-option *ngFor="let item of grupoBaremaList" value="{{ item.id }}"> {{ item.numero }} - {{ item.descricao }} </mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			
		</div>

		<ng-template [ngIf]="dataSource">
			<div class="card-container my-4" style="cursor: pointer" (click)="openDetails(atividade)" *ngFor="let atividade of dataSource.itens">
				<div class="d-flex">
					<div style="padding: 1rem; width: 40%">
						<span class="mat-small highlight"
							>Data: {{ atividade.periodoInicio | date : 'dd/MM/yyyy' }} - {{ atividade.periodoFim | date : 'dd/MM/yyyy' }}</span
						>
						<div style="padding: 1rem">
							<div class="px-2">
								<div class="row">
									<div class="col-8">
										<h2 class="nm">{{ atividade.titulo }}</h2>
									</div>
									<div class="col">
										<div class="chip primary">{{ atividade.horas }} horas</div>
									</div>
								</div>

								<h3>{{ atividade.grupoBarema?.descricao }}</h3>
							</div>

							<mat-divider style="border-top-color: #000"></mat-divider>
							<div class="mt-3 d-flex gap-4">
								<h4>Atividade:</h4>
								<span style="font-size: 18px">
									{{ atividade.atividadeBarema?.descricao }}
								</span>
							</div>
						</div>
					</div>
					<div class="card-img" style="width: 60%" [ngStyle]="{ 'background-image': 'url(' + atividade.imagem + ')' }"></div>
				</div>
			</div>
			<div class="align-items-center d-flex gap-3 justify-content-center">
				<button [disabled]="loading" class="btn btn-load position-relative" style="width: 230px !important" (click)="loadMore()">
					<span> Mostrar Mais </span>
					<ng-template [ngIf]="loading">
						<div class="spinner-inside">
							<div class="opacity-50">
								<mat-spinner [diameter]="30"></mat-spinner>
							</div>
						</div>
					</ng-template>
				</button>
			</div>
		</ng-template>
	</div>
</section>
