@import "~@angular/material/theming";
:host {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 100%;
    .mat-list-item.active {}
    &:hover,
    &:focus {
        >.mat-list-item:not(.expanded) {}
    }
}

.mat-list-item {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    .routeIcon {
        margin-right: 0.7rem;
    }
}

.menu-list-expanded {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #000;
}

.menu-list-expanded>* {
    border-bottom: 1px solid #000;
}