// src\styles.scss
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// import our custom theme               
@import "./theme.scss";
// import custom component themes        
@import "./custom-component-themes.scss";
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theming-material-components-theme);
@include custom-components-theme($theming-material-components-theme);
// ? added
// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.dark-theme` will be affected by this alternate dark theme instead of the default theme.
:root {
    --bs-body-color-span-night-eye: hsla(0, 0%, 75%, 1);
    --bs-body-color-heading-night-eye: hsla(0, 0%, 90%, 1);
    --bs-blue-night-eye: hsla(216, 60%, 52%, 1);
    --bs-indigo-night-eye: hsla(263, 60%, 51%, 1);
    --bs-purple-night-eye: hsla(261, 51%, 51%, 1);
    --bs-pink-night-eye: hsla(330, 60%, 52%, 1);
    --bs-red-night-eye: hsla(354, 60%, 54%, 1);
    --bs-orange-night-eye: hsla(27, 60%, 54%, 1);
    --bs-yellow-night-eye: hsla(44, 100%, 20%, 1);
    --bs-green-night-eye: hsla(152, 60%, 31%, 1);
    --bs-teal-night-eye: hsla(162, 60%, 46%, 1);
    --bs-cyan-night-eye: hsla(190, 60%, 50%, 1);
    --bs-white-night-eye: hsla(240, 8%, 12%, 1);
    --bs-gray-night-eye: hsla(208, 7%, 46%, 1);
    --bs-gray-dark-night-eye: hsla(210, 10%, 23%, 1);
    --bs-gray-100-night-eye: hsla(0, 0%, 12%, 1);
    --bs-gray-200-night-eye: hsla(0, 0%, 17%, 1);
    --bs-gray-300-night-eye: hsla(0, 0%, 21%, 1);
    --bs-gray-400-night-eye: hsla(210, 14%, 27%, 1);
    --bs-gray-500-night-eye: hsla(210, 11%, 39%, 1);
    --bs-gray-600-night-eye: hsla(208, 7%, 46%, 1);
    --bs-gray-700-night-eye: hsla(210, 9%, 31%, 1);
    --bs-gray-800-night-eye: hsla(210, 10%, 23%, 1);
    --bs-gray-900-night-eye: hsla(0, 0%, 15%, 1);
    --bs-primary-night-eye: hsla(216, 60%, 52%, 1);
    --bs-secondary-night-eye: hsla(208, 7%, 46%, 1);
    --bs-success-night-eye: hsla(152, 60%, 31%, 1);
    --bs-info-night-eye: hsla(190, 60%, 50%, 1);
    --bs-warning-night-eye: hsla(44, 100%, 20%, 1);
    --bs-danger-night-eye: hsla(354, 60%, 54%, 1);
    --bs-light-night-eye: hsla(0, 0%, 12%, 1);
    --bs-dark-night-eye: hsla(0, 0%, 15%, 1);
    --bs-primary-rgb-night-eye: 59, 118, 206;
    --bs-secondary-rgb-night-eye: 109, 118, 126;
    --bs-success-rgb-night-eye: 32, 126, 82;
    --bs-info-rgb-night-eye: 51, 179, 204;
    --bs-warning-rgb-night-eye: 102, 75, 0;
    --bs-danger-rgb-night-eye: 208, 67, 81;
    --bs-light-rgb-night-eye: 31, 31, 31;
    --bs-dark-rgb-night-eye: 38, 38, 38;
    --bs-white-rgb-night-eye: 28, 28, 33;
    --bs-black-rgb-night-eye: 0, 0, 0;
    --bs-body-rgb-night-eye: 38, 38, 38;
    --bs-font-sans-serif-night-eye: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace-night-eye: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient-night-eye: linear-gradient(180deg, hsla(240, 8%, 12%, 0.15), hsla(240, 8%, 12%, 0));
    --bs-body-font-size-night-eye: 1rem;
    --bs-body-font-weight-night-eye: 400;
    --bs-body-line-height-night-eye: 1.5;
    --bs-body-color-night-eye: hsla(0, 0%, 15%, 1);
    --bs-body-bg-night-eye: hsla(240, 8%, 12%, 1);
}

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($typography);
// ? added

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Nunito";
}

.nm {
    margin: 0!important;
}

np {
    padding: 0!important;
}

.mat-toolbar {
    background-color: #fff;
    border-bottom: 1px solid #DFDADA;
    color: #5F8ED3;
}

.mat-toolbar * {
    color: inherit;
}

.child .mat-list-item-content {
    display: block;
}

.mat-list-item-content {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid transparent;
    span.mat-display-1:hover,
    span.mat-display-1:focus {
        padding-bottom: 0px;
        border-bottom: 2px solid #5F8ED3;
    }
}

a {
    text-decoration: none;
}

.blurBackground {
    background: rgba(244, 244, 244, 0.6);
    backdrop-filter: blur(4px);
}

.child span {
    border-bottom: none!important;
    padding-bottom: 0px!important;
}

.mat-list-item-content span {
    padding-bottom: 2px;
}

span.highlight {
    color: #2B468B;
}

span.menu {
    color: inherit;
}

h1,
h2,
h3,
h4 {
    color: #646464;
}

.chip {
    border-radius: 10px;
    max-width: fit-content;
    max-height: fit-content;
    padding: 5px;
    color: #fff;
    font-family: "Nunito";
    font-size: 16px;
}

.chip.primary {
    background-color: #5F8ED3;
}

.card-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

.card-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    -webkit-mask-image: linear-gradient(to right, transparent 10%, black 80%);
    transition: all 0.5s ease-in-out;
}

.card-img:hover {
    opacity: 1;
}

.hide {
    display: none;
}

pre {
    white-space: pre-line;
    word-break: break-all;
    overflow: auto;
    font-size: 16px;
}

.mat-dialog-container {
    max-height: 90vh!important;
}

.card-container h2,
.card-container h3,
.card-container h4 {
    color: #000;
}

.logo {
    height: 50px!important;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #fff;
}

 ::-webkit-scrollbar-thumb {
    background: #999;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// DARK THEME
.dark-theme {
    *:hover {
        transition: all 100s ease-in-out;
    }
    span {
        color: var(--bs-body-color-span-night-eye);
    }
    h1,
    h2,
    h3,
    h4 {
        color: var(--bs-body-color-heading-night-eye);
    }
    .mat-toolbar {
        background-color: rgb(31, 31, 31);
        color: rgb(155, 184, 228)!important;
        border-bottom: 1px solid rgb(59, 59, 59);
    }
    .app-container,
    .main-container {
        background-color: var(--bs-body-bg-night-eye);
    }
    span.highlight {
        color: rgb(157, 179, 225);
    }
    .menu,
    .menu mat-icon {
        color: rgb(157, 179, 225);
    }
    .logo {
        filter: invert(100%);
    }
    .card-container {
        background-color: rgb(31, 31, 31);
    }
    .mat-dialog-container {
        background-color: rgb(31, 31, 31);
    }
    pre {
        color: #fff;
    }
     ::-webkit-scrollbar {
        width: 10px;
        border-radius: 50%;
    }
     ::-webkit-scrollbar-track {
        background-color: rgb(31, 31, 31);
    }
     ::-webkit-scrollbar-thumb {
        background: #999;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}