<section class="d-flex flex-column mt-5">
	<div>
		<div *ngIf="dataSource">
			<div class="px-4">
				<div class="row">
					<div class="col">
						<div class="d-flex position-relative">
							<mat-icon class="back" (click)="back()">arrow_back</mat-icon>
							<h1>{{ dataSource.titulo }}</h1>
						</div>
					</div>

					<div class="col">
						<div class="d-flex justify-content-end gap-2">
							<div *ngIf="dataSource.solicitacaoProgressoList" class="chip-large col mx-3" [ngClass]="statusColor(dataSource)">
								{{ dataSource.statusNow }}
							</div>
							<div class="chip primary col">{{ dataSource.horas }} horas</div>
						</div>
					</div>
				</div>

				<div class="row">
					<h3 class="nm" style="color: #7d7d7d">CATEGORIA</h3>
					<h4 style="font-size: 18px">{{ dataSource.grupoBarema?.descricao }}</h4>
				</div>
				<div class="row">
					<h3 class="nm" style="color: #7d7d7d">ATIVIDADE</h3>
					<h4 style="font-size: 18px">{{ dataSource.atividadeBarema?.descricao }}</h4>
				</div>
			</div>
			<div class="row userCard my-4" *ngIf="userData">
				<div class="col d-flex flex-column gap-3 nunito">
					<div class="row">
						<span class="col-2 strong">Nome:</span>
						<span class="col-6">{{ userData.nome }}</span>
					</div>
					<div class="row">
						<span class="col-2 strong">Curso:</span>
						<span class="col-6">{{ userData.curso.descricao }}</span>
					</div>
				</div>
				<div class="col d-flex flex-column gap-3 nunito">
					<div class="row">
						<span class="col-2 strong">Matrícula:</span>
						<span class="col-6">{{ userData.matricula }}</span>
					</div>
					<div class="row">
						<span class="col-2 strong">E-mail:</span>
						<span class="col-6">{{ userData.email }}</span>
					</div>
				</div>
			</div>
			<h1 style="color: #7d7d7d" class="mt-5">Progresso</h1>
			<div class="py-3 mx-5" *ngIf="leftActive">
				<div class="progress-container">
					<span style="top: -15px" [ngClass]="progressValue >= 0 ? 'active' : 'inactive'" class="left nunito">
						{{
							leftActive.dataCadastro
								? (leftActive.dataCadastro | date : 'dd/MM/yyyy')
								: leftActive.dataPrevisao
								? 'Previsão: ' + (leftActive.dataPrevisao | date : 'dd/MM/yyyy')
								: ''
						}}
					</span>
					<span style="top: -15px" [ngClass]="progressValue >= 50 ? 'active' : 'inactive'" class="middle nunito">
						{{
							middleActive.dataCadastro
								? (middleActive.dataCadastro | date : 'dd/MM/yyyy')
								: middleActive.dataPrevisao
								? 'Previsão: ' + (middleActive.dataPrevisao | date : 'dd/MM/yyyy')
								: ''
						}}
					</span>
					<span style="top: -15px" [ngClass]="progressValue === 100 ? 'active' : 'inactive'" class="right nunito">
						{{
							rightActive.dataCadastro
								? (rightActive.dataCadastro | date : 'dd/MM/yyyy')
								: rightActive.dataPrevisao
								? 'Previsão: ' + (rightActive.dataPrevisao | date : 'dd/MM/yyyy')
								: ''
						}}
					</span>
				</div>
				<div class="p-3 progress-container">
					<div class="progress-sphere left" [ngClass]="progressValue >= 0 ? 'active' : ''"></div>
					<div class="progress-sphere middle" [ngClass]="progressValue >= 50 ? 'active' : ''"></div>
					<div class="progress-sphere right" [ngClass]="progressValue === 100 ? 'active' : ''"></div>
					<mat-progress-bar aria-label="Barra de progresso da solicitação" mode="determinate" [value]="progressValue"></mat-progress-bar>
				</div>
				<div class="progress-container">
					<span class="left nunito" [ngClass]="leftActive ? 'active' : ''">Enviado</span>
					<span class="middle nunito" [ngClass]="middleActive ? 'active' : ''">Em análise</span>
					<span class="right nunito" [ngClass]="rightActive ? 'active' : ''">Finalizado</span>
				</div>
			</div>
			<h1 style="color: #7d7d7d" class="mt-5">Certificado Enviado</h1>
			<div class="py-2 mx-5">
				<div
					class="d-grid cursor-pointer"
					style="max-width: 90%; overflow-wrap: break-word; grid-template-columns: 3% 90%"
					(click)="downloadActual()"
					*ngIf="actualFile"
				>
					<mat-icon>cloud_download</mat-icon>
					<span class="nunito">{{ actualFile.name }}</span>
				</div>
			</div>
		</div>
	</div>
</section>
