<section class="d-flex flex-column mt-5">
	<div>
		<div *ngIf="dataSource">
			<div class="px-4">
				<div class="row">
					<div class="col">
						<div class="d-flex position-relative">
							<span class="accessibility-header">Voltar</span>

							<div>
								<mat-icon class="back" (click)="back()">arrow_back</mat-icon>
							</div>

							<h1 tabindex="0">{{ dataSource.titulo }}</h1>
						</div>
					</div>

					<div class="col">
						<div class="d-flex justify-content-end gap-2">
							<div tabindex="0" *ngIf="dataSource.solicitacaoProgressoList" class="chip-large col mx-3" [ngClass]="statusColor(dataSource)">
								{{ dataSource.statusNow }}
							</div>
							<div class="chip primary col" tabindex="0">{{ dataSource.horas }} horas</div>
						</div>
					</div>
				</div>

				<div class="row" tabindex="0">
					<span class="nm" style="color: #757575; font-size: 24px">GRUPO</span>
					<span style="font-size: 18px">{{ dataSource.grupoBarema?.descricao }}</span>
				</div>
				<div class="row" tabindex="0">
					<span class="nm" style="color: #757575">ATIVIDADE</span>
					<span style="font-size: 18px; font-size: 24px">{{ dataSource.atividadeBarema?.descricao }}</span>
				</div>
			</div>
			<div class="row userCard my-4" *ngIf="userData" tabindex="0">
				<div class="col d-flex flex-column gap-3 nunito">
					<div class="row">
						<span class="col-2 strong">Nome:</span>
						<span class="col-6">{{ userData.nome }}</span>
					</div>
					<div class="row">
						<span class="col-2 strong">Curso:</span>
						<span class="col-6">{{ userData.curso.descricao }}</span>
					</div>
				</div>
				<div class="col d-flex flex-column gap-3 nunito">
					<div class="row">
						<span class="col-2 strong">Matrícula:</span>
						<span class="col-6">{{ userData.matricula }}</span>
					</div>
					<div class="row">
						<span class="col-2 strong">E-mail:</span>
						<span class="col-6">{{ userData.email }}</span>
					</div>
				</div>
			</div>
			<h1 tabindex="0" style="color: #757575" class="mt-5">Progresso</h1>
			<div class="d-flex">
				<div class="py-3 mx-5 w-100" *ngIf="leftActive">
					<div class="progress-container">
						<span tabindex="0" class="accessibility-header">Data de envio</span>
						<span tabindex="0" style="top: -15px" [ngClass]="progressValue >= 0 ? 'active' : 'inactive'" class="left nunito">
							{{
								leftActive.dataCadastro
									? (leftActive.dataCadastro | date : 'dd/MM/yyyy')
									: leftActive.dataPrevisao
									? 'Previsão: ' + (leftActive.dataPrevisao | date : 'dd/MM/yyyy')
									: ''
							}}
						</span>
						<span tabindex="0" class="accessibility-header">Data de início da análise</span>
						<span tabindex="0" style="top: -15px" [ngClass]="progressValue >= 50 ? 'active' : 'inactive'" class="middle nunito">
							{{
								middleActive.dataCadastro
									? (middleActive.dataCadastro | date : 'dd/MM/yyyy')
									: middleActive.dataPrevisao
									? 'Previsão: ' + (middleActive.dataPrevisao | date : 'dd/MM/yyyy')
									: ''
							}}
						</span>
						<span tabindex="0" class="accessibility-header">Data de finalização da análise</span>
						<span tabindex="0" style="top: -15px" [ngClass]="progressValue === 100 ? 'active' : 'inactive'" class="right nunito">
							{{
								rightActive.dataCadastro
									? (rightActive.dataCadastro | date : 'dd/MM/yyyy')
									: rightActive.dataPrevisao
									? 'Previsão: ' + (rightActive.dataPrevisao | date : 'dd/MM/yyyy')
									: ''
							}}
						</span>
					</div>
					<div class="p-3 progress-container">
						<div class="progress-sphere left" [ngClass]="progressValue >= 0 ? 'active' : ''"></div>
						<div class="progress-sphere middle" [ngClass]="progressValue >= 50 ? 'active' : ''"></div>
						<div class="progress-sphere right" [ngClass]="progressValue === 100 ? 'active' : ''"></div>
						<mat-progress-bar aria-label="Barra de progresso da solicitação" mode="determinate" [value]="progressValue"></mat-progress-bar>
					</div>
					<div class="progress-container">
						<span class="left nunito" [ngClass]="leftActive ? 'active' : ''">Enviado</span>
						<span class="middle nunito" [ngClass]="middleActive ? 'active' : ''">Em análise</span>
						<span class="right nunito" [ngClass]="rightActive ? 'active' : ''">Finalizado</span>
					</div>
				</div>
				<div class="align-items-end d-flex flex-column gap-3 justify-content-center">
					<button tabindex="0" class="btn btn-new" style="width: max-content" (click)="openChat()">
						<mat-icon>chat</mat-icon><span class="ml-3">Mensagens para Colegiado</span>
					</button>
				</div>
			</div>

			<h1 style="color: #757575" class="mt-5" tabindex="0">Certificado Enviado</h1>
			<div class="py-2 mx-5">
				<button
					tabindex="0"
					mat-icon-button
					class="icon"
					[matTooltipPosition]="'right'"
					(click)="downloadActual()"
					*ngIf="actualFile"
					matTooltip="Baixar certificado enviado"
				>
					<mat-icon>download</mat-icon>
					<span class="nunito">{{ actualFile.name }}</span>
				</button>
			</div>
		</div>
	</div>
</section>
