.enviado {
	background-color: #7d7d7d;
}

.analise {
	background-color: #c79400;
}

.finalizado {
	background-color: #3caea3;
}

.back {
	position: absolute;
	left: -35px;
	transform: scale(1.5);
	margin-top: 3px;
	color: #646464;
	cursor: pointer;
}
