.enviado {
    background-color: #B2B1B1;
}

.analise {
    background-color: #e7ad00;
}

.finalizado {
    background-color: #5FD3B1;
}

.back {
    position: absolute;
    left: -35px;
    transform: scale(1.5);
    margin-top: 3px;
    color: #646464;
    cursor: pointer;
}